.contacts {
  padding-top: 120px;
  padding-bottom: 113px;
  background-color: $background-color--light;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts__map-wrapper {
  position: relative;
  max-width: 560px;
  width: 100%;
  min-height: 306px;
  margin-right: 50px;
}

.contacts__map-img {
  max-height: 306px;
}

.contacts__map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 306px;
  border: none;
  z-index: 5;
}

.contacts__info-wrapper {
  max-width: 500px;
}

.contacts__text {
  margin-bottom: 23px;
}

@media (max-width: $tablet-width) {
  .contacts {
    padding-top: 100px;
    padding-bottom: 95px;
  }

  .contacts__map-wrapper {
    margin-right: 30px;
  }

  .contacts__map-img {
    max-height: 335px;
  }

  .contacts__map {
    max-height: 335px;
  }

  .contacts__info-wrapper {
    min-width: 325px;
  }

  .contacts__text {
    margin-bottom: 20px;
  }
}

@media (max-width: $mobile-width) {
  .contacts {
    padding-top: 58px;
    padding-bottom: 58px;
  }

  .contacts__wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }

  .contacts__map-wrapper {
    margin-right: 0;
  }

  .contacts__map-img {
    max-height: 316px;
  }

  .contacts__map {
    max-height: 316px;
  }

  .contacts__info-wrapper {
    min-width: auto;
    max-width: 100%;
    margin-bottom: 24px;
  }
}
