.cruise {
  height: 100%;
  min-height: 386px;
  background-color: $background-color--dark;

  &:hover div div {
    background: $background-color--dark;
  }

  &:hover h3 {
    order: 0;
    transform: none;
  }

  &:hover ul {
    opacity: 1;
  }

  &:hover a {
    opacity: 1;
  }
}

.cruise div {
  position: relative;
  height: 100%;
}

.cruise img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: "object-fit: cover;";
  z-index: 1;
}

.cruise div div {
  transition: all 0.3s;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 28px 26px 35px 26px;
  background: transparent;
  z-index: 10;
}

.cruise ul {
  @include reset-list;
  transition: all 0.3s;
  opacity: 0;
}

.cruise li {
  margin-bottom: 12px;
}

.cruise h3 {
  @include main-subtitle;
  order: 10;
  color: $text-color--light;
  transform: translate(6px, 14px);
}

.cruise h4 {
  @include main-text;
  margin-bottom: 3px;
  color: $text-color--light;
}

.cruise p {
  @include main-text;
  color: $text-color--gray;
}

.cruise a {
  @include main-btn;
  width: 100%;
  opacity: 0;
}

@media (max-width: $tablet-width) {
  .cruise div div {
    padding-top: 33px;
    padding-right: 36px;
    padding-left: 36px;
  }

  .cruise h3 {
    transform: translate(2px, 10px);
  }
}

@media (max-width: $mobile-width) {
  .cruise div div {
    padding-top: 31px;
    padding-right: 25px;
    padding-left: 25px;
  }

  .cruise h3 {
    transform: translate(0, 18px);
  }
}
