.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  margin-right: 30px;
}

.header__toggle-btn {
  display: none;
}

.header__nav {
  margin-top: 6px;
}

@media (max-width: $tablet-width) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .header__logo {
    margin-top: 5px;
  }

  .header__nav {
    margin-top: 0;
  }
}

@media (max-width: $mobile-width) {
  .header {
    padding-top: 15px;
    padding-bottom: 15px;

    &--nojs {
      position: static;
      background-color: $background-color--light;
    }

    &--menu-active {
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $background-color--light;
      z-index: 10;
    }
  }

  .header__wrapper {
    flex-wrap: wrap;
  }

  .header__logo {
    &--nojs {
      margin-bottom: 29px;
    }

    &--nojs .header__logo-ico {
      fill: $decor-color--main;
    }

    &--menu-active .header__logo-ico {
      fill: $decor-color--main;
    }
  }

  .header__logo-ico {
    &--menu-active {
      fill: $decor-color--main;
    }
  }

  .header__toggle-btn {
    position: relative;
    display: block;
    padding: 10px;
    width: 34px;
    height: 32px;
    border: none;
    transition: all 0.3s;
    cursor: pointer;
    background-color: transparent;

    &:hover {
      opacity: 0.9;
    }

    &:active {
      opacity: 0.8;
    }

    &--closed {
      position: fixed;
      top: 15px;
      right: 15px;
      background-color: transparent;
      z-index: 15;
    }

    &--nojs {
      display: none;
    }
  }

  .header__toggle {
    transition: all 0.3s;
    position: absolute;
    right: 0;
    top: 50%;
    width: 24px;
    height: 2px;
    background-color: $decor-color--light;
    transform: translateY(-50%);

    &::after,
    &::before {
      content: "";
      position: absolute;
      right: 0;
      width: 24px;
      height: 2px;
      background-color: $decor-color--light;
    }

    &::after {
      top: 6px;
    }

    &::before {
      bottom: 6px;
    }

    &--closed {
      top: 50%;
      right: -2px;
      width: 18px;
      height: 2px;
      background-color: $decor-color--main;
      transform: translateY(-50%) rotate(45deg);
    }

    &--closed::after {
      width: 0;
    }

    &--closed::before {
      top: 0;
      width: 18px;
      height: 2px;
      background-color: $decor-color--main;
      transform: rotate(90deg);
    }
  }

  .header__nav {
    display: none;
    flex-basis: 100%;

    &--nojs {
      display: block;
    }

    &--menu-active {
      display: block;
      position: fixed;
      top: 78px;
      left: 0;
      width: 100%;
      height: 100%;
      padding-top: 2px;
      padding-left: 15px;
      padding-right: 15px;
      overflow-y: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;
    }

    &--menu-active::-webkit-scrollbar {
      width: 0;
      height: 0;
      background: transparent;
    }
  }
}
