.services {
  padding-top: 110px;
  padding-bottom: 96px;
  background-color: $background-color--light;
}

@media (max-width: $tablet-width) {
  .services {
    padding-top: 91px;
    padding-bottom: 75px;
  }
}

@media (max-width: $mobile-width) {
  .services {
    padding-top: 59px;
    padding-bottom: 35px;
  }
}
