$desktop-width: 1250px;
$tablet-width: 1023px;
$tablet-continer-width: 933px;
$mobile-width: 767px;
$mobile-continer-width: 737px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$main-font: "Montserrat", "Arial", sans-serif;
$main-color: #011c40;
$additional-color: #101a56;
$white-color: #f9fbfd;
$gray-color: #d8d8d9;
$blue-color: #5ba8d3;
$blue-color--light: #d3e2f1;
$text-color--main: $main-color;
$text-color--light: $white-color;
$text-color--gray: $gray-color;
$background-color--dark: $main-color;
$background-color--light: $white-color;
$background-color--medium: $blue-color--light;
$focus-color--form: $blue-color;
$decor-color--light: $white-color;
$decor-color--main: $main-color;
